.Signup {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('../../../utils/img/bg-signup.png');
  background-size: cover;
  color: #ccc6c6;
  padding: 2em 2em;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
  }

  h2 {
    font-size: 2.3em;
    letter-spacing: .1em;
    border-bottom: 1px solid white;
    display: inline;
  }

  .login-field {
    padding: .6em 1em .5em 1em;
    font-size: 2em;
    margin: 1em 0 0 0;
    color: hsl(0, 5%, 78%);
    background-color: #262a2a;
    border: 0;

    &:hover::placeholder {
      color: hsl(0, 5%, 60%);
    }
  }

  .field-has-content-username .login-label-username {
      display: inline;
      animation: fadeUp .5s;
  }

  .field-has-content-email .login-label-email {
      display: inline;
      animation: fadeUp .5s;
  }

  .field-has-content-password .login-label-password {
      display: inline;
      animation: fadeUp .5s;
  }

  .field-has-content-confirmPassword .login-label-confirmPassword {
      display: inline;
      animation: fadeUp .5s;
  }

  .field-has-content-resume .login-label-resume {
      display: inline;
      animation: fadeUp .5s;
  }

  .div-position {
    position: relative;
  }

  .signup-button {
    all:unset;
    padding: .3em 2em;
    margin: .5em 0 2em 0;
    background-color: #3a3c3e;
    color: #ccc6c6;
    font-weight: bold;
    font-size: 2em;
    border: 1px solid #414346;
    transition: .5s;

    &:hover {
      background-color: #262a2a;
    }
  }

  .link-login {
    font-size: 1.5em;
    letter-spacing: .05em;
    color: #ccc6c6;
  }

  .login-label {
    position: absolute;
    top: 35px;
    left: 33px;
    z-index: 1;
    display: none;
  }

  .field-has-content {
      display: inline;
      animation: fadeUp .5s;
  }

  .help-block {
    color: #ccc6c6;
  }

  #image {
    display: none;
  }

  #image-label {
    position: relative;
    z-index: 900;
    display: inline-block;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(1em)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
