.NotFound {
  text-align: center;
  background-image: url('../../../utils/img/bg-home.jpg');
  background-size: cover;
  position: relative;
  padding: 15em 2em;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
  }

  h2 {
    color: #ccc6c6;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
  }
}
